<h2></h2>
<div class="card" >
  <div class="card-body">
    <h5 class="card-title text-center">Datos del usuario</h5>
    <ul>
      <li class="list-group list-group-item text-primary">Nombre completo: <span>{{user.name}}</span></li>
      <li class="list-group list-group-item text-primary">Edad: <span>{{user.age}}</span></li>
      <li class="list-group list-group-item text-primary">Color favorito: <span>{{user.color}}</span></li>
      <li class="list-group list-group-item text-primary">Estás trabajado: <span>{{user.isWork}}</span></li>
      <li class="list-group list-group-item text-primary">Correo: <span>{{user.email}}</span></li>
    </ul>
    </div>
</div>
<a
    class="btn btn-primary btn-block m-4"
    routerLink="/settings">
      Ir a ajustes
  </a>
