<div>
  <div class="card-body">
    <h3 class="text-center">Ajustes de usuario</h3>
    <form>
      <div class="form-floating mb-3 mt-3">
        <input type="text" name="name" placeholder="" [(ngModel)]="user.name" [value]="user.name"
          class="form-control" />
        <label class="form-label">Nombre completo</label>
      </div>
      <div class="d-flex justify-content-start">
        <div class="form-floating mb-3 mt-3">
          <input type="number" name="age" placeholder="" [(ngModel)]="user.age" class="form-control" />
          <label class="form-label">Edad</label>
        </div>
        <div class="form-floating mb-3 mt-3 ms-2">
          <input type="text" name="color" placeholder="" [(ngModel)]="user.color" class="form-control" />
          <label class="form-label">Color favorito</label>
        </div>
      </div>
      <div class="form-outline mb-4">
        <label class="form-label px-4">Está trabajando?</label>
        <input type="radio" name="user.isWork" [(ngModel)]="user.isWork" [value]="true"
          [ngClass]="user.isWork ? 'checked' : ''">
        <label class="form-label px-2">Si</label>
        <input type="radio" name="user.isWork" [(ngModel)]="user.isWork" [value]="false"
        [ngClass]="!user.isWork ? 'checked' : ''">
        <label class="form-label px-2">No</label>
      </div>
      <div class="form-floating mb-3 mt-3">
        <input type="email" name="email" placeholder="" [(ngModel)]="user.email" [value]="user.email"
          class="form-control" />
        <label class="form-label">Correo</label>
      </div>


      <div class="form-floating mb-3 mt-3">
        <input type="password" name="password" placeholder="" [(ngModel)]="user.password" class="form-control" />
        <label class="form-label">Contraseña</label>
      </div>

      <div class="form-floating mb-3 mt-3">
        <input type="password" name="passwordConfirm" placeholder="" [(ngModel)]="passwordConfirm"
          (input)="checkValidation($event)" class="form-control"/>
        <label class="form-label">Repetir Contraseña</label>
      </div>

      <div class="d-flex justify-content-center">

        <button type="button" class="btn btn-success btn-block m-4 text-uppercase fw-bold" routerLink="/home"
        [ngClass]="pwdConfirm ? '' : 'disabled'" (click)="saveChangesUser()">
        Guardar cambios
      </button>

      <a class="btn btn-primary btn-block m-4 text-uppercase fw-bold" routerLink="/home">
        volver a Home
      </a>
</div>
<div class="d-flex justify-content-center">
      <button type="button" class="btn btn-danger btn-block m-4 text-uppercase fw-bold" (click)="deleteUser()">
        Eliminar cuenta
      </button>

      <button type="button" class="btn btn-warning btn-block m-4 text-uppercase fw-bold border-1 border-danger" (click)="closeSession()">
        Cerrar Sesión
      </button>
</div>

    </form>
  </div>
</div>
